@font-face { 
  font-family: "mscyrl";
  src: url("./fonts/MuseoSansCyrl100/MuseoSansCyrl100.otf");
  src: url("./fonts/MuseoSansCyrl100/MuseoSansCyrl100.otf?#iefix")format("opentype"),
  url("./fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
  url("./fonts/MuseoSansCyrl100/MuseoSansCyrl100.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "mcyrl";
  src: url("./fonts/MuseoCyrl500/Museocyrl500.woff") format("woff"),
  url("./fonts/MuseoCyrl500/Museocyrl500.woff2") format("woff2"),
  url("./fonts/MuseoCyrl500/Museocyrl500.ttf") format("trueType");
  font-style: normal;
  font-weight: 500;
}

.app {
  font-family: "mscyrl";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  color: #5B5B5B;
}

html { 
  /* overflow: hidden; */
  /* overflow: scroll; */
}

/* Header start */

.header {  /*шрифтов пока нет */
  cursor: default;
}

.header__wrap {
  margin: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 90px;
}

.logo {
  padding: 0 10px 0 0;
} 

.nav {
  /* padding-left: 100px; */
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav__elem {
  padding: 0 10px;
  border-right: 1px solid black;
}

.nav__elem:last-child {
  border-right: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__link-focus {
  text-decoration: underline;
  color: #00A0E3;
}

.nav__link-selected {
  text-decoration: none;
  color: #00A0E3;
}

/* Убирает границу фокуса */
.nav__link-selected:focus { 
  outline: none;
}

.login {
  margin-left: auto;
  padding: 10px 20px;
  background-color: #00A0E3;
  color: #fff;
}

.lg-style {
  color: inherit;
  text-decoration: none;
}

.lg-style:hover, .lg-style:focus, .ls-style:active {
  text-decoration: underline;
}

/* Header end */

/* Intro start */

.intro {
  height: 632px;
  background-color: #FCC306;
  overflow: hidden;
}

.intro__wrap {
  position: relative;
  width: 70%;
  min-width: 1200px;
  margin: 0 auto;
}

.intro__logo {
  padding-top: 100px;
  position: relative;
  z-index: 3;
}

.intro__title {
  padding-top: 50px;
  padding-left: 100px;
  font-family: "mcyrl";
  font-size: 32px;
  line-height: 1.2;
  color: #5B5A50;
  position: relative;
  z-index: 3;
}

.intro__pic {
  position: absolute;
  top: 0;
  right: 180px;
  /* left: 50%; */
  z-index: 2;
}

.intro__bg-pic {
  position: absolute;
  top: -13.5%;
  right: 0;
  z-index: 1;
}

/* Intro end */

/* Content start */

.before200, .before1000 {
  height: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.content__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 840px;
}

.content__order {
  font-size: 30px;
  color: #fff;
}

.content__title {
  margin-bottom: 25px;
  font-family: "mcyrl";
}

.content__title b {
  font-weight: bold;
}

.content__title span {
  font-family: "mscyrl";
  font-weight: bold;
}

.content__link {
  display: block;
  color: inherit;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 10px 25px;
}

/* .content__link:hover {
  opacity: 0.7;
} */

/* Content end */

/* Footer start  */

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 80px;
  background-color: #00A0E3;
  width: 100%;
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10%;
  width: 100%;
  color: #fff;
  font-size: 28px;
}

.phone__pic, .mail__pic {
  display: inline-block;
  margin-right: 10px;
}

.phone__pic {
  padding-bottom: 7px;
}

/* Footer end  */

/* Login styles start */

.auth, .register, .recovery {
  display: flex;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* font-size: 26px;
  font-weight: 700; */
}

.auth__container, .register__container, .recovery__container {
  position: relative;
  width: 400px;
  /* height: 430px; */
  background-color: #fff;
  border-radius: 10px;
}

.auth__container .closer, .register__container .closer, .recovery__container .closer {
  position: absolute;
  top: 15px;
  right: 15px;
}


.auth__wrap, .register__wrap, .recovery__wrap {  
  padding: 0 30px;
}

.auth__title, .register__title, .recovery__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #00A0E3;
  border-radius: 10px 10px 0 0;
  margin-bottom: 30px;

  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.auth__login, .auth__password, .register__login, .register__password, 
.register__repeat-password, .recovery__login {
  position: relative;

  margin-bottom: 10px;
}

.login__err, .password__err, .repeat-password__err, .other__err {
  height: 20px;
  color: red;
  font-size: 18px;
}

.other__err {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.login__input, .password__input, .repeat-password__input{
  height: 40px;
  width: calc(100% - 4px - 50px);
  padding: 5px 15px 5px 35px;
  border: 0;
  border-bottom: 1px solid rgba(51,51,51,0.5);
}

.auth__login::before, .register__login::before,
.recovery__login::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 8px;
  height: 32px;
  width: 32px; 
  background: url(./img/icons/login.svg) no-repeat left center;
  background-size: 32px 32px;
}

.auth__password::before, .register__password::before, .register__repeat-password::before{
  position: absolute;
  content: "";
  top: 13px;
  left: 8px;
  height: 32px;
  width: 32px; 
  background: url(./img/icons/password.svg) no-repeat left center;
  background-size: 32px 32px;
}

.login__input::placeholder, .password__input::placeholder, .repeat-password__input::placeholder {
  color: rgba(51,51,51,0.5);
}

.auth__btn-auth, .register__btn-register, .recovery__btn-recovery {
  width: 100%;
  height: 45px;
  /* margin-bottom: 40px; */
  border: 0;
  border-radius: 8px;
  background-color: #00A0E3;
  color: #fff;
}

.auth__btn-auth:hover, .auth__btn-auth:focus,
.register__btn-register:hover, .register__btn-register:focus,
.recovery__btn-recovery:hover, .recovery__btn-recovery:focus {
  opacity: 0.85;
}

.auth__btn-auth:active, .register__btn-register:active,
.recovery__btn-recovery {
  /* opacity: 1; */
}

.auth__links, .recovery__links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.register__links {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.link__register, .link__recovery, .link__login {
  color: rgba(51,51,51,0.6);
  font-size: 18px;
}

/* Login styles end */

/* Forms styles start */

.forms {
  font-size: 18px;
  background-color: rgb(247, 247, 247);
  color: black;
}

.forms__top {
  height: 70px;
  background-color: #FCC306;
  font-size: 32px;
  display: flex;
  align-items: center;
  padding-left: 10%;
  font-weight: bold;
}

.forms__wrap {
  width: 600px;
  margin: 0 auto;
}

.span-sm {
  /* display: inline-flex; */
  margin-right: auto;
  width: 240px;
  height: 24px;
}

.span-lg {
  /* display: inline-flex; */
  margin-right: auto;
  width: 240px;
  height: 60px;
}

.select-sm, .select-lg {
  height: 24px;
}

.select-sm {
  width: 120px;
}

.select-lg {
  width: 265px;
}

.container-sm {
  display: flex;
  padding: 10px 24px 10px 24px;
}

.container-lg {
  padding: 15px 0;
}

.container-wrap {
  /* display: flex;
  justify-content: space-between; */
  border: 1px solid #BEBEBE;
  /* padding: 15px 24px 15px 24px; */
  /* padding: 24px; */
}

.forms-ta {
  width: 259px;
  height: 54px;
  resize: none;
}

.annotation {
  display: block;
  color: #919191;
  font-size: 14px;
}

.input-sm, .input-sm-frst, .input-sm-one{
  /* display: inline-block; */
  width: 116px;
  height: 18px;
}

.input-sm-frst {
  margin-right: 25px;
}

.input-sm-one {
  margin-right: 145px;
}

.input-container {
  display: inline-block;
  /* vertical-align: top; */
  position: relative;
}

.input-container:after {
  display: block;
  content: 'Кг';
  position: absolute;
  top: 3px;
  left: 125px;
  width: 20px;
  height: 18px;
  color: #949494;

  pointer-events: none;
}

.input-lg {
  display: inline-block;
  height: 18px;
  width: 261px;
}

.input-select {
  width: 536px;
  margin: 0 20px;
  padding: 1px 8px;
}

.container-title {
  margin-bottom: 10px;
  padding: 0 24px;
}

.forms__post {
  padding-top: 45px;  
  margin-top: 0;
}

.add-product__btn-add {
  border: 0;
  background-color: rgb(247, 247, 247);
  font-size: 14px;
  color: #00A0E3;
}

.add-product__btn-add:hover, .add-product__btn-add:focus {
  opacity: .7;
}

.more-info__btn-add {
  margin-left: auto;
  font-size: 14px;
  border: 0;
  background-color: rgb(247, 247, 247);
  color: #00A0E3;
  width: 265px;
}

.more-info__btn-add:hover, .more-info__btn-add:focus {
  opacity: .7;
}

.forms__save {
  display: flex;
  justify-content: center;
  padding: 15px 0 40px 0;
}

.save__btn-save {
  border-color: #00A0E3;
  background-color: #00A0E3;
  border-radius: 6px;
  width: 250px;
  height: 40px;
}

/* trash start =) */

.forms__address, .forms__post {
  position: relative;
  padding-bottom: 15px;
}

.forms__address {
  padding-top: 15px;
}

.address-list {
  position: absolute;
  /* border: 1px solid #bebebe; */
  /* height: auto; */
  background-color: #fff;
  width: 554px;
  left: 20px;
  top: 70px;
  /* overflow: visible; */
}

.post-list {
  position: absolute;
  background-color: #fff;
  width: 554px;
  left: 20px;
  top: 99px;
}

.al-fill, .pl-fill {
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
}

.al-empty, .pl-empty {
  border: 0;
}

.address-item, .post-item {
  padding: 4px 8px;
  cursor: pointer;
  /* background-color: aqua; */
}

.address-item:hover, .address-item:focus, .post-item:hover, .post-item:focus {
  background-color: #eee;
}

/* Forms styles end */